@using GingerbreadMarket.Models

@model OrdersContext
@{
    ViewData["Title"] = "Home Page";
    var SellOrder = new Order();
    SellOrder.IsSell = true;
    var BuyOrder = new Order();
    BuyOrder.IsSell = false;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Купить
                </div>
                <div id="editor">
                    @Html.Partial("Editor", BuyOrder)
                </div>
                <div class="container">
                    <p class="h4 p-3"><strong>Ордера на продажу</strong></p>
                </div>
                <div id="summary">
                    @Html.Partial("SellSummary", Model.Orders)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Продать
                </div>
                <div id="editor">
                    @Html.Partial("Editor", SellOrder)
                </div>
                <div class="container">
                    <p class="h4 p-3"><strong>Ордера на покупку</strong></p>
                </div>
                <div id="summary">
                    @Html.Partial("BuySummary", Model.Orders)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Завершенные сделки
                (@Html.ActionLink("Очистить", "RemoveDeals"))
            </div>
            <div id="summary">
                @Html.Partial("ComplitedOrders", Model.Deals)
            </div>
        </div>
    </div>
</div>